body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 40px;
}

.hight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
  padding-right: 3%;
  margin-bottom: 10%;
   

 }
.half-width img{
    width: 81%;
    
}

p{
    text-align: justify;
    font-size:18px;
    color: black;
}
     
.link-button{
    text-decoration: none;
   background-image: linear-gradient(45deg,lightsalmon, tomato);
    padding: 10px 20px ;
    border-radius: 10px;
    color: aliceblue;
    font-weight: 700;
}
.single-experience{
    box-shadow: 10px 10px 30px gray;
    background-color: lightblue;
    height: 200%;
}
#full-stack{
    border-left: 5px solid;
    border-radius: 10px;
    border-image: linear-gradient(45deg,lightsalmon, tomato);
    border-image-slice:1 ;
    width: 40%;
    padding-left: 1%;
     
}
#baby-web{
    border-left: 5px solid;
    border-radius: 10px;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
   width: 40%;
   padding-left: 1%;
}
footer p{
    text-align: center;
}